<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">ALCANCE DEL TÍTULO</span>
        </strong>
      </h4>
      <p>Las actividades profesionales reservadas al título de Ingeniero Agrónomo son las siguientes:</p>
      <p>
        <br>
        <span style="color: #ff6600;">1.</span> Programar, ejecutar y evaluar la multiplicación, introducción, mejoramiento, adaptación y conservación de especies vegetales con fines productivos, experimentales u ornamentales.
        <br>
        <span style="color: #ff6600;">2</span>. Determinar, clasificar, inventariar y evaluar los recursos vegetales a los efectos de su aprovechamiento, reproducción y conservación de la diversidad biológica.
        <br>
        <span style="color: #ff6600;">3.</span> Programar, ejecutar y evaluar la producción, mantenimiento, conservación y utilización de recursos forrajeros en función de la producción animal.
        <br>
        <span style="color: #ff6600;">4.</span> Programar, ejecutar y evaluar la implantación de especies vegetales en distintos espacios, de acuerdo con las características, función y destino de los mismos, y determinar las condiciones de manejo de dichas especies.
        <br>
        <span style="color: #ff6600;">5.</span> Programar, ejecutar y evaluar la implantación de especies vegetales, en proyectos de parques, jardines, campos deportivos y recreativos, y demás espacios verdes.
        <br>
        <span style="color: #ff6600;">6.</span> Participar en la elaboración de proyectos de parques, jardines, campos deportivos y recreativos y demás espacios verdes.
        <br>
        <span style="color: #ff6600;">7.</span> Programar, ejecutar y evaluar estudios y análisis de suelos yaguas con fines agropecuarios, forestales y paisajísticos.
        <br>
        <span style="color: #ff6600;">8.</span> Programar, ejecutar y evaluar estudios y análisis de productos vegetales, sus derivados, insumos de uso agropecuario y residuos del mismo origen.
        <br>
        <span style="color: #ff6600;">9.</span> Controlar y administrar las cuencas, los sistemas de riego y drenaje para uso agropecuario y forestal, evaluar eventuales daños provocados por la erosión hídrica y determinar los cánones de riego.
        <br>
        <span style="color: #ff6600;">10.</span> Participar en la programación, ejecución y evaluación del manejo del agua y su conservación, para determinar los posibles caudales de uso evitando su contaminación y/o agotamiento.
        <br>
        <span style="color: #ff6600;">11.</span> Realizar relevamiento de suelos y programar, ejecutar y evaluar métodos de conservación, manejo, recuperación y habilitación de los mismos con fines agropecuarios, forestales y paisajísticos.
        <br>
        <span style="color: #ff6600;">12.</span> Establecer y evaluar la capacidad agronómica del suelo; elaborar sobre la base de las mismas propuestas de parcelamiento incluyendo criterios de impacto ambiental y participar en la determinación de la renta bajo distintas condiciones
        de uso y productividad.
        <br>
        <span style="color: #ff6600;">13.</span> Participar en la determinación de unidades económicas agrarias, en el fraccionamiento de inmuebles rurales, y en la confección de catastros agrarios y de recursos naturales.
        <br>
        <span style="color: #ff6600;">14.</span> Programar, ejecutar y evaluar la prevención y control de los factores bióticos y abióticos que afectan la producción agropecuaria y forestal.
        <br>
        <span style="color: #ff6600;">15.</span> Programar, ejecutar y evaluar técnicas de control de los factores climáticos que inciden en la producción agropecuaria y forestal.
        <br>
        <span style="color: #ff6600;">16.</span> Realizar estudios orientados a la evaluación de las consecuencias que pueda provocar fenómenos naturales (inundaciones, sequías, vientos, heladas, granizo y otros) a los efectos de la determinación de primas de seguros o estimación
        de daños.
        <br>
        <span style="color: #ff6600;">17.</span> Participar en estudios de caracterización climática a fin de evaluar su incidencia en la producción agropecuaria y forestal.
        <br>
        <span style="color: #ff6600;">18.</span> Programar, ejecutar y evaluar el ordenamiento, desmonte y raleo de formaciones vegetales.
        <br>
        <span style="color: #ff6600;">19.</span> Determinar las características, tipificar, fiscalizar y certificar calidad, pureza y sanidad de: a) semillas y otras formas de propagación vegetal; b) plantas transgénicas; c) productos y subproductos agropecuarios y forestales.
        <br>
        <span style="color: #ff6600;">20.</span> Determinar las condiciones de almacenamiento, conservación, tratamiento sanitario y transporte de granos, forrajes, frutos, semillas y otros productos vegetales.
        <br>
        <span style="color: #ff6600;">21.</span> Programar, ejecutar y evaluar la formulación, certificación de uso, comercialización, expendio y aplicación de agroquímicos, recursos biológicos, recursos biotecnológicos, fertilizantes y enmiendas destinadas al uso agropecuario y forestal,
        por su posible perjuicio a la integridad y conservación del suelo y el ambiente.
        <br>
        <span style="color: #ff6600;">22.</span> Asesorar en la elaboración, almacenamiento, conservación y transporte de agroquímicos, recursos biológicos, recursos biotecnológicos, fertilizantes y enmiendas destinadas al uso agropecuario y forestal.
        <br>
        <span style="color: #ff6600;">23.</span> Programar, ejecutar y evaluar el uso de instalaciones rurales, máquinas y herramientas agrícolas por su posible perjuicio a la integridad y conservación del suelo y el ambiente.
        <br>
        <span style="color: #ff6600;">24.</span> Asesorar en el diseño de las instalaciones rurales, máquinas y herramientas agrícolas.
        <br>
        <span style="color: #ff6600;">25.</span> Programar, ejecutar y evaluar la utilización de técnicas agronómicas, en el manejo, conservación, preservación y saneamiento del ambiente, y en el control y prevención de las plagas que afectan el ambiente humano.
        <br>
        <span style="color: #ff6600;">26.</span> Realizar estudios, diagnósticos, evaluaciones y predicciones referidos a la producción agropecuaria y forestal a distintos niveles: local, departamental, provincial, nacional o regional.
        <br>
        <span style="color: #ff6600;">27.</span> Programar, ejecutar y evaluar acciones de información, difusión y transferencia de tecnologías destinadas a la producción agropecuaria y forestal.
        <br>
        <span style="color: #ff6600;">28.</span> Organizar, dirigir, controlar y asesorar establecimientos destinados a la producción agropecuaria y forestal.
        <br>
        <span style="color: #ff6600;">29.</span> Organizar, dirigir, controlar y asesorar establecimientos destinados al mejoramiento, multiplicación y producción vegetal.
        <br>
        <span style="color: #ff6600;">30.</span> Participar en la organización, dirección, control y asesoramiento de establecimientos destinados al mejoramiento, multiplicación y producción animal.
        <br>
        <span style="color: #ff6600;">31.</span> Participar en la realización de estudios e investigaciones destinadas a la nueva producción y adaptación de especies animales a los efectos del mejoramiento de la producción agropecuaria.
        <br>
        <span style="color: #ff6600;">32.</span> Organizar y dirigir parques y jardines botánicos, programando, ejecutando y evaluando el mantenimiento y utilización de las especies y formaciones vegetales que integran las poblaciones y reservas naturales.
        <br>
        <span style="color: #ff6600;">33.</span> Participar en la programación y poner en ejecución, las normas tendientes a la conservación de la flora y la fauna, preservando la biodiversidad y el patrimonio genético existente.
        <br>
        <span style="color: #ff6600;">34.</span> Participar en la programación, ejecución y evaluación de proyectos de turismo rural y ecoturismo.
        <br>
        <span style="color: #ff6600;">35.</span> Programar, ejecutar y evaluar estudios destinados a determinar las formas de aprovechamiento de los diferentes recursos con uso agropecuario y forestal.
        <br>
        <span style="color: #ff6600;">36.</span> Participar en la realización de estudios referidos al impacto ambiental de obras que impliquen modificaciones en el medio rural.
        <br>
        <span style="color: #ff6600;">37.</span> Participar en la determinación de las condiciones del trabajo rural y asesorar en la en la adecuación de las mismas en función de criterios de eficiencia y calidad de vida.
        <br>
        <span style="color: #ff6600;">38.</span> Programar, ejecutar y evaluar acciones relativas a la conservación y manejo del suelo, agua y recursos vegetales con fines agropecuarios y forestales.
        <br>
        <span style="color: #ff6600;">39.</span> Participar en la elaboración de planes, políticas y normas relativas a la conservación y manejo del suelo, agua y recursos vegetales, y a la producción agropecuaria, forestal y agrosilvopastoril.
        <br>
        <span style="color: #ff6600;">40.</span> Participar en la identificación, formulación y evaluación de proyectos de inversión y/ o de desarrollo rural.
        <br>
        <span style="color: #ff6600;">41.</span> Participar en la programación, ejecución y evaluación de políticas rurales, planes de colonización y programas de desarrollo rural.
        <br>
        <span style="color: #ff6600;">42.</span> Programar y ejecutar valuaciones, peritajes, arbitrajes y tasaciones de plantaciones, formaciones vegetales naturales, unidades de producciones agropecuarias y forestales, sus mejoras fundiarias y los elementos afectados a la misma.
        <br>
        <span style="color: #ff6600;">43.</span> Programar, ejecutar y evaluar arbitrajes y peritajes que impliquen determinaciones acerca de: a) calidad, pureza y sanidad de especies, órganos vegetales, productos forestales y productos y subproductos agropecuarios; b) capacidad agronómica
        del suelo; c) la producción y productividad agropecuaria y forestal; d) daños y perjuicios ocasionados, por causas naturales o malas prácticas, a los diferentes recursos y elementos que integran la producción agropecuaria y forestal.
        <br>
        <span style="color: #ff6600;">44.</span> Programar, ejecutar y evaluar acciones relativas al manejo de pastizales naturales, sistemas silvopastoriles y agrosilvopastoriles.</p>
    </div>
  </ion-content>
</ion-view>