<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/IFyzd5OvQFO4MxWBXnlx_FondoApp5.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/sD0Lc9Y6R92ctZbtwHSQ_LogoAgronomicaApp1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar balanced" id="inicio-list-item9" ui-sref="ingAgronMica.planDeEstudios()">
        <img src="img/uEXBoUsQ2yBkMsh7Qarz_v006.png">
        <h2balanced>Plan de Estudios</h2balanced>
      </ion-item>
      <ion-item class="item-avatar balanced" id="inicio-list-item10" ui-sref="ingAgronMica.horarios()">
        <img src="img/zgFRPnrPSyEnO5Etj1WX_v005.png">
        <h2balanced>Horarios</h2balanced>
      </ion-item>
      <ion-item class="item-avatar balanced" id="inicio-list-item23" ui-sref="ingAgronMica.programasDeCTedra()">
        <img src="img/yta52nLTpGm7xE4nn6bQ_v004.png">
        <h2balanced>Programas de Cátedra</h2balanced>
      </ion-item>
      <ion-item class="item-avatar balanced" id="inicio-list-item11" ui-sref="ingAgronMica.bibliotecaDigital()">
        <img src="img/8zSmmtTTysAxS1v7rS1g_v003.png">
        <h2balanced>Biblioteca Digital</h2balanced>
      </ion-item>
      <ion-item class="item-avatar balanced" id="inicio-list-item24" ui-sref="ingAgronMica.calendarioAcadMico()">
        <img src="img/bGvlN8G5QWKhjWnLicXc_v002.png">
        <h2balanced>Calendario Académico</h2balanced>
      </ion-item>
      <ion-item class="item-avatar balanced" id="inicio-list-item12" ui-sref="ingAgronMica.acercaDeLaApp()">
        <img src="img/OKZREphJSsuPhvISzx0m_v001.png">
        <h2balanced>Acerca de la App</h2balanced>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>