<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 373/08</strong>
        </span>
      </h4>
      <hr>
      <p>&nbsp;</p>
      <h4>
        <strong>
          <span style="color: #ff6600;">PERFIL DEL EGRESADO:</span>
        </strong>
      </h4>
      <p>El Ingeniero Agrónomo egresado de la Universidad Nacional de La Rioja tiene un perfil generalista, con conocimientos propios de todas las áreas relacionadas con las ciencias agropecuarias y agroindustriales y capacidad para integrarlos en la resolución
        de los problemas profesionales que deba enfrentar. Para ello, posee:</p>
      <p>
        <br>• Conocimiento de principios fundamentales de Matemática, Física y Química.
        <br>• Conocimiento de conceptos y principios relacionados con el manejo de cada factor de la producción, analizado en profundidad dentro de cada una de las disciplinas básicas (Fisiología, Biología, Suelos, Agua, Clima, Economía y Sociología).
        <br>• Conocimiento de principios y leyes ecológicos para la conservación de los recursos naturales y el ambiente.
        <br>• Conocimiento de principios fundamentales de manejo de cada uno de los cultivos de la región, enfocados desde el punto de vista de los problemas científico tecnológicos que se presentan y sus posibles soluciones.
        <br>• Conocimiento de los principios rectores en la economía y administración agrarias y de la legislación vigente relacionada con la especialidad.
        <br>• Conocimiento de principios básicos en administración de recursos humanos, manejo de personal y extensión agraria.
        <br>• Conocimiento de principios de transferencia de tecnología y políticas de desarrollo rural.
        <br>• Capacidad para programar, conducir y evaluar el proceso tecnológico de la producción agropecuaria y agroindustrial.
        <br>• Capacidad para elegir las alternativas productivas más convenientes en cada situación de mercado y buscar el paquete tecnológico más adecuado.
        <br>• Capacidad para diagnosticar, juzgar y sintetizar información, organizando la producción de acuerdo a un esquema correcto de prioridades técnicas, económicas y sociales.
        <br>• Capacidad para adaptarse a los cambios rápidos de tecnología productiva.
        <br>• Actitud conservacionista, al considerar en la producción los principios básicos del equilibrio ecológico.
        <br>• Capacidad de investigar y desarrollar nuevas tecnologías.
        <br>Capacidad para dirigir personal y administrar adecuadamente los recursos humanos de la empresa o institución.
        <br>• Capacidad para comunicarse y transferir la tecnología al hombre de campo y a la industria.
        <br>• Capacidad para elaborar y ejecutar políticas agrarias, en especial las relacionadas con el desarrollo rural.
        <br>• Responsabilidad y conducta ética en el ejercicio de la profesión.</p>
    </div>
  </ion-content>
</ion-view>