<ion-view title="Programas de Cátedra" id="page12" style="background-color:#0D9025;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Álgebra y Geometría Analítica</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Análisis Matemático</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Química General e Inorgánica</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Anatomía y Morfología Vegetal</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Introducción a las Ciencias Agrarias</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Química Orgánica</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Física</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Botánica Sistemática</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Informática</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Química Biológica</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Estadística y Diseño Experimental</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Edafología</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Química Analítica</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Filosofía Vegetal</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Fitopatología</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Climatología y Agrometereología</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Maquinaria Agrícola</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Bases Biológicas de la Producción Animal</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Zoología Agrícola</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Ecología Agrícola</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Genética</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Terapéutica Vegetal</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item243">
        <i class="icon ion-ios-list-outline"></i>Nutrición y Alimentación Animal</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item244">
        <i class="icon ion-ios-list-outline"></i>Microbiología Agrícola</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item245">
        <i class="icon ion-ios-list-outline"></i>Mejoramiento Vegetal</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item246">
        <i class="icon ion-ios-list-outline"></i>Economía Política</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item247">
        <i class="icon ion-ios-list-outline"></i>Manejo del Recurso Hídrico</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item248">
        <i class="icon ion-ios-list-outline"></i>Manejo y Conservación de Suelos</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item249">
        <i class="icon ion-ios-list-outline"></i>Administración y Comercialización</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item250">
        <i class="icon ion-ios-list-outline"></i>Introducción al Conocimiento Científico</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item251">
        <i class="icon ion-ios-list-outline"></i>Producción y Utilización de Forrajes</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item252">
        <i class="icon ion-ios-list-outline"></i>Producción Animal (bovinos)</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item253">
        <i class="icon ion-ios-list-outline"></i>Hoticultura</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item254">
        <i class="icon ion-ios-list-outline"></i>Producción Animal (Porcinos y Animales de Granja)</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item255">
        <i class="icon ion-ios-list-outline"></i>Fruticultura</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item256">
        <i class="icon ion-ios-list-outline"></i>Práctica de Verano</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item257">
        <i class="icon ion-ios-list-outline"></i>Extensión y Sociología Rural</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item258">
        <i class="icon ion-ios-list-outline"></i>Legislación Agraria</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item259">
        <i class="icon ion-ios-list-outline"></i>Silvicultura</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item260">
        <i class="icon ion-ios-list-outline"></i>Cerealicultura y Cultivos Industriales</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item261">
        <i class="icon ion-ios-list-outline"></i>Teledetección y Sistemas de Información Geográfica</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item262">
        <i class="icon ion-ios-list-outline"></i>Pasantía en institución Pública</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item263">
        <i class="icon ion-ios-list-outline"></i>Pasantía en Establecimiento Privado</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item264">
        <i class="icon ion-ios-list-outline"></i>Olivicultura</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item265">
        <i class="icon ion-ios-list-outline"></i>Práctica de Verano II</ion-item>
      <ion-item class="item-icon-left balanced" id="programasDeCTedra-list-item266">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>